* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  height: 100%;
  width: 100%;
  background-color: #010e16;
  margin:0;
}


.main {
  height: 100vh;
  width: 100vw;
  background-color: #010e16;
  display: flex;
  justify-content: center;
  align-items: center;
  border:none;
}

.scoreboard {
  background-color: rgb(42, 17, 70);
  color:white;
  margin-left: 10px;
  height: 379px;
  color:#722a9c
}



.timer {
  width:100%;
  margin-bottom: 5px;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  justify-content: space-around;
}

/* .topbox {
  margin:0px;
  background-color: #010e16;
  height: 170px;
  width:360px;

}

.bottombox {
  background-color: #010e16;
  height: 95px;
  width:360px;
} */

.gapbox {
  background-color: #010e16;
  height: 20px;
  width:360px;
  z-index:1;
}

.inner--border {
  background-color: #0B2434;
  min-height: 379px;
  width:360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  position: relative;
  z-index:2;

}

.inner--main {
  width:340px;
  height:360px;
  background-color: #F5F5F5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:10px;
  margin-bottom:10px
}

.dice--grid {
  margin:40px;
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap:13px;
}



.die {
  background-color: #ffffff;    
  display: flex;
  justify-content: center;
  align-items: center;
  width:45px;
  height:45px;
  color:#3a2c28;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  cursor:pointer;
}

.die--num {
  font-size:1.7rem;
}

.roll-dice {
  background-color: #3b0e56;
  color:white;
  width:160px;
  height:40px;
  border-radius: 3px;
  border: none;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  cursor: pointer;
  font-size: 1.2rem;
  font-family: 'Orbitron', sans-serif;
}

.roll-dice:focus {
  outline: none;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.title--box {
  padding:0px;
  margin:0px;
}

.title--text {
  font-size: 2rem;
  margin:0px
}


.title--text {
  text-align: center;
  
  background: linear-gradient(to right, rgb(79, 63, 135) 20%, rgb(187, 0, 255) 40%, rgb(177, 91, 211) 60%, #FFF 80%);
  background-size: 140% auto;
  
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 1s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}

.count--1, .count--2 {
  color:#d7afe7;
}

/* clock */

.timer--clock{ 
  color:#d7afe7;
  width:85px;
}

.time--container {
  width:100%;
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
}

.score {
  width:100%;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding-left: 15px;
  padding-right:15px;
}

.time--count {
  margin-right:10px;
}

.best--time--count {
  margin-left:auto;
  margin-right: 10px;
}

.best--time {
  color:#d7afe7;
}


.score--1 {
  width:100px
}

.score--count, .top--score {
  margin-right: 8px;
}

@media only screen and (max-width: 400px) {
  .roll-dice {
    font-size: 1rem;
    width:40vw;
    min-width: 140px;
    height:40px;
  }
  .rules--container {
    /* color:red; */
  }
}

.score--1, .score--2, .top--time, .new--time--count {
  display: flex;
}

.buttons {
  width:100%;
  margin-top:10px;
  display: flex;
  flex-flow: no-wrap;
  justify-content: center;
}


/* .button--rules:hover, .button--high--scores:hover, .button--refresh:hover {
  width:30%;
  background-color: #aeadad;
} */
/* .button--rules {
  width:40%;
} */

/* rules */

.features {
  display: flex;
  flex-direction: column;
  background-color: #722a9c;
  position:absolute;
  align-items: center;

}

.rules--container {
  text-align: center;
  font-size: 0.75rem;
  width: 350px;
  z-index: 1;
  background-color: #010e16;
  color:white;
  padding:5px;
  position:relative;
  overflow: scroll;
  /* top: 10%; */
}

.scores--container {
  text-align: center;
  font-size: 0.75rem;
  width: 300px;
  z-index: 1;
  background-color: #010e16;
  color:white;
  padding:5px;
  position:relative;
  /* top: 30%; */
}


/* .icons {
  width:100%;
  display: flex;
  flex-flow: no-wrap;
  justify-content: center;
  gap:5px
} */

.buttons {
  background-color: #010e16;
  border: 1px solid rgb(39, 39, 39);
  height: 45px;
  z-index:2;
  margin: 0px;
}

.button--rules, .button--high--scores, .button--refresh {
  background-color: #010e16;
  border:none;
  margin:none;
  padding:5px;
  width: 35%;
}
.icon {
  filter: brightness(0) invert(0.7);
  width: 24px;
}

.middle {
  width: 30px;
}

.icon:hover {

  filter: brightness(0) invert(1);
  width:26px;
}

.middle:hover {
  width: 33px;
}

.container {
  display: flex;
  flex-direction: column;
}

.scores--text{
  color:#e8bfff;
  z-index:1;
}



.rules--text > p {
  margin-top:20px;
}

@media only screen and (max-width: 500px) {
  .roll-dice {
    font-size: 1rem;
    width:40vw;
    min-width: 140px;
    height:40px;
  }
  /* .rules--container {
    top: 5%;
  }

  .rules--text > p {
    margin-top:0px;
  }
  .scores--text > p {
    font-size: 0.5rem;
  }
  .scores--container {
    top: 25%;
  }
} */

/* @media only screen and (max-width: 700px) {

  .rules--container {
    top: 5%;
  }

  .rules--text > p {
    margin-top:0px;
  }
  .scores--text > p {
    font-size: 0.5rem;
  }
  .scores--container {
    top: 20%;
  }
} */